In [ ]:
  a = float(input("press Trip number : "))
  b = float(input("press rate number : "))
  c = float(input("press Trip frequency : "))
  int_a = int(a)
  if 10000 >= int_a >=0 :
    print(int_a)    
  else :
    print(f"False trip number")
  int_b = int(b)
  if 10 >= int_b >=0 :
    print(int_b)    
  else :
    print(f"False rate")
  int_c = int(c)
  if 10 >= int_c >=0 :
    print(int_c)    
  else :
    print(f"False")

press Trip number : 277
press rate number : 12
press Trip frequency : 2
277
False rate
2

In [ ]:
#TN = float(input("press TN : "))
def ai (TN ,RN ,TF ):
        return ((TN * 3.3) / 10000),((RN * 3.3) / 10),((TF * 3.3) / 10)
x = ai(TN = float(input("press TN : ")),RN = float(input("press RM : ")),TF = float(input("press TF : ")))
#i in range (x)
print("The original tuple is : " + str(x))
res = sum(list(x))
print("Discount number : " + str(res))

press TN : 8000
press RM : 2
press TF : 10
The original tuple is : (2.64, 0.6599999999999999, 3.3)
Discount number : 6.6

In [ ]:

print("using start, stop, and step arguments in Python range() function")
print("Printing All odd numbers between 1 and 10 using range()")
for i in range(1, 10, 2):
    print(i, end=', ')

using start, stop, and step arguments in Python range() function
Printing All odd numbers between 1 and 10 using range()
1, 3, 5, 7, 9,